/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
    margin-bottom: 35px;
}
    
.logo img{
    width: 61.09px;
    height: 19px ;
    padding-top: 30px;
    padding-right: 50px;
}
    

.navbar{
    display: flex;
    gap: 68px;
    height: 35px;
    width: 244px;
    padding-right:0px;
    padding-top: 16px;
    margin-bottom: 44px;
}


.navbar a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}

.navbar a::before{
    content: ""; /* Nécessaire pour créer le pseudo-élément */
    position: absolute; /* Positionnement absolu pour placer la barre */
    bottom: 56.4px; /* Positionne la barre au-dessus du texte */
    width: 100%; /* La barre a la même largeur que le lien */
    height: 2px; /* Épaisseur de la barre */
    background-color: #1a73e8; /* Couleur de la barre */
    transform: scaleX(0)
}

.navbar a:hover::before {
    transform: scaleX(1); /* Déploie la barre à sa pleine largeur */    
}

.navbar a:hover{
    color: #0065FC;
}

/****** Body info group ***********/

.headline-titre{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;  
}

.headline-sous-titre{
    font-weight:400;
    font-size: 16px;
    margin-top: 0px;
}

/****** Body Search-bar ***********/


.search-bar{
    display: flex;
    flex-direction: row;
    height: 49px;
    width: 377px;
    border-radius: 15px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.logo-box{  
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    
}

.logo-box i{
   display: flex; 
   padding: 14px 18px 15px 18px; 
   color: black;
   font-size: large;

}

.ville-box{
    width: 100%;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    background-color: white;
}

.ville-box a{
    font-weight: 700;
    font-size: 18px;
    display: flex;
    padding:15px 16px 15px 20px ;
}

.fa-search{
    display: none;
}


.rechercher-box{
    display: block;
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.rechercher-box a{
    font-weight:700;
    font-size: 18px;
    color: white;
    display: flex;
    padding: 15px 16px 15px 16px; 
}

/****** Body Filter Bar ***********/


.filter-bar {
    display: flex;
    align-items: baseline;
    margin-bottom: 25px;
    gap: 15px;
}

.filter-bar p {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px; 
}

.filter-bar button {
    height: 50px;
    border: 2px solid #D9D9D9;
    background-color: white;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
    padding: 4px 19px;  
    margin-right:10px;
    margin-bottom: 10px;
}

.filter-bar button:hover {
    background-color: #DEEBFF;
}

.filters .fa-solid{
    width: 22px;
    height: 22px;
    padding-right: 10px;
}

/****** Body Infobar ***********/

.infobar{
    display: flex;
    flex-direction: row;
    gap:10px; 
    align-items: center;
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
}

.infobar .fa-solid{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.infobar i{
    font-size: small;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    width: 871px;
    height: 614px;
}

.hebergements-cards{
    display: flex;
    gap: 30px;
} 

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top:30px;
    height: 207.25px; 
}

.hebergements-cards img {
    width: 240.33px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding: 0px 15px 0px 15px; 
}

.hebergements-cards .card-title {
    line-height: 18.78px;
    margin-bottom:  8px;
}


.hebergements-cards .card-subtitle {
    line-height: 16.44px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.hebergements-cards .card-rating {
    line-height: 13.25px;
}

.afficher-plus{
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
}

/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 429px;
    height: 614px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activtés ***********/

.activites{
    margin: 30px;
    margin-bottom: 65px;
    margin-top: 65px;
 }
 
 .activites-card{
     display: flex;
     gap: 30px;
     margin-top: 30px;
 }
 
 .img-card img{
    display: block;
     width: 297.5px;
     height: 380px;
     object-fit: cover;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px; 
 }
 
 .img-card-txt{
    display:table;
    height: 59px;
 }

 .activites .card-title{
    display:table-cell ;
    vertical-align: middle;
    padding-left: 19px;

 }
 
 .img-card{
     background-color: white;
     border-radius: 20px;
     filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
 }

 /****** Footer ***********/

footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    width: 1340px;  
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 20px;
    width: 33%;
}

.footer-section h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    margin: 0%;
}

.footer-section a{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {



    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards img{
       width: 100%;
    }

    .hebergements-cards{
        width: 100%;
    }


    .hebergements-cards a{
        width: 33%;  
    }

    .hebergements-cards .card-title{
        font-size: clamp(10px, 1.5vw, 14px);
    }
    .hebergements-cards .card-subtitle{
        font-size: clamp(9px, 1.3vw, 13px);
    }

    .populaires {
        width: 100%;
        height: fit-content;
        margin-top: 50px; 
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: clamp(10px, 1.5vw, 14px);
    }

    .populaires-cards .card-subtitle {
        font-size: clamp(9px, 1.3vw, 13px);
    }

    .activites{
        max-width: 100%;
        margin: 22px;
        margin-bottom: 65px;
        margin-top: 65px;
    }

    .activites-card{
        flex-wrap: wrap;
    }

    .img-card{
       width:193.5px;
    }

    .img-card img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .img-card-txt{
        height: 70px;
    }

    footer{
        width: 100%;
    }

    .filter-bar{
        display: block;
    }

    .filter-bar p{
        text-align: left;
        line-height: 21px;
        margin-bottom: 20px;
    }

    .filter-bar button {
        font-size: 16px;
    }

    .filters{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        width: 375px;
        padding: 0;
    }


    /****** Header ***********/
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 115px;
        margin-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .headline{
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo img{
        width: 61.09px;
        height: 19px;
        padding: 30px;
        margin-bottom: 0%;
    }

    .navbar{
        width: 375px;
        padding: 0%;
        gap: 0px;
    }

    .navbar a{
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .navbar a::before{
        bottom: -17px;
    }

    /****** Body Search-bar ***********/

    .search-bar{
        padding-right: 20px;
        padding-left: 20px;
        width: auto;
    }

  
    .rechercher-box{
        width: 49px;
        height: 49px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .fa-search{
        display: block;
        color: white;
        padding: 15px 16px 15px 16px; 
    }

    .rechercher-box a{
        display:none;
    }

    /****** Body Filter Bar ***********/

    .filter-bar{
        padding-left: 20px;
        padding-right: 20px;
    }

    .infobar{
        padding-left: 20px;
        padding-right: 20px;
    }

    .filters{
        gap: 10px;
    }

    .filter-bar button{
        font-size: 14px;
        width: 162.5px;
        margin-right: 0px;
        margin-bottom: 0px;
        text-align: unset;
        display: flex;
        align-items: center;
        margin-bottom: 10px ;
    }


    .filters .fa-solid{
        display: flex;
        align-items: center;
    }


    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires{
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        padding-right: 20px;
        padding-left: 20px;
        border-radius: initial;
    }


    /****** Populaires ***********/

    .populaires{
        margin: 0px;
        background-color: rgba(242, 242, 242, 1);
    }

    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 325px;
        margin-top: 0%;
        margin-top: 15px;
    }


    .populaires-cards .card-title {
        font-size: 16px;
    }
    
    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    /****** Hebergements ***********/

    section .hebergements{
        padding-left: 20px;
        padding-right: 20px;
    }

    .hebergements {
        background-color: white;
        width: max-content;
        height: fit-content;
    }

    .hebergements .section-title{
        margin-bottom: 15px;
    }

    .hebergements-cards{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
    } 

    .hebergements-cards .card {
        width: 325px;
        margin-top: 0%;
    }

    .hebergements-cards .card-title{
        font-size: 16px;
    }
    
    .hebergements-cards .card-subtitle{
        font-size: 14px;
    }

    /****** Activtés ***********/

    .activites{
        margin: 0;
        padding: 30px;
    }

   .img-card{
    width: 315px;
   }

   .img-card img{
    width: 100%;
    height: 141px;
    object-fit: cover;

   }

   .img-card-txt{
    height: 59px;
   }

   /****** Footer ***********/

   footer{
    flex-direction: column;
    width: 100%;
   }

   .footer-section{
    width: max-content;
    padding: 30px;
   }

}







      


   

  

    

